/ConvertAPI.Example.DotNet/.idea/
/ConvertAPI.Example.DotNet/AsyncConversionWithPushNotification/bin
/ConvertAPI.Example.DotNet/AsyncConversionWithPushNotification/obj
/ConvertAPI.Example.DotNet/ConvertDocxToPdf/bin
/ConvertAPI.Example.DotNet/ConvertDocxToPdf/obj
/ConvertAPI.Example.DotNet/ConvertHtmlToPdf/bin
/ConvertAPI.Example.DotNet/ConvertHtmlToPdf/obj
/ConvertAPI.Example.DotNet/ConvertUrlToPdf/bin
/ConvertAPI.Example.DotNet/ConvertUrlToPdf/obj